
<h1 class="bg-primary">Welcome to {{ title }}</h1>

<app-tasks></app-tasks> <!--app.module.ts-->

<h4>List of completed tasks :</h4>
<!--<app-completed-tasks></app-completed-tasks>--> <!--todo.module.ts-->

<button (click)="readMe()">Click Me</button>

<div *ngIf="showMsg" [ngStyle]="{'color':colorName, 'background-color': '#ddd'}"> Showing this message from If true statement</div>

<div *ngIf="showMsg; then showThen; else showElseMsg"> Show Message</div>
<ng-template #showThen> Show Then Message</ng-template>
<ng-template #showElseMsg> Show Else Message</ng-template>

<h3>ngSwitch</h3>

<div [ngSwitch]="switchVal">
  <div *ngSwitchCase="1"> Value is 1</div>
  <div *ngSwitchCase="2"> Value is 2</div>
  <div *ngSwitchCase="3"> Value is 3</div>
  <div *ngSwitchCase="4"> Value is 4</div>
  <div *ngSwitchCase="5"> Value is 5</div>
  <div *ngSwitchDefault>Default</div>
</div>


<h3>ngFor</h3>

<table class="table">
  <tr>
    <th>User Id</th>
    <th>First Name</th>
    <th>Index</th>
    <th>First</th>
    <th>Last</th>
    <th>Even</th>
    <th>Odd</th>
  </tr>

  <tr *ngFor="let user of users; index as i; first as f; last as l; even as e; odd as o">
    <td>{{ user.userId }}</td>
    <td>{{ user.firstname }}</td>
    <td>{{ i }}</td>
    <td>{{ f }}</td>
    <td>{{ l }}</td>
    <td>{{ e }}</td>
    <td>{{ o }}</td>
  </tr>
</table>

<br />
<br />

<a [ngStyle]="{'color':colorName, 'background-color': '#ddd'}" href="https://www.google.com/">
  Show
</a>

<br />
<br />

<div [ngClass]="[clsName, clsName2]">
  ngClass
</div>

<br />
<div [ngClass]="{'one':false, 'two':true}">
  ngClass with expressions
</div>


<h3>Property Binding</h3>
<div [ngStyle]="{'color':colorVal}">example of property binding</div>

<input [placeholder]="placeHolderVal" />
<br />
<br />

<h3>Property Binding</h3>
<a [href]="hrefVal">Get Comics</a>

<br />
<br />

<h3>Attribute Binding => creating custom property and binding it</h3>
<a [href]="hrefVal" [attr.updateLink]="updatedLink" [attr.data-link]="updatedLink">Get Comics</a>

<br /><br />

<h3>Event Binding => view to component</h3>
<button (click)="showAlert('Pranav');">Click Me</button>
<br />
<input (focus)="consoleLog();" />

<h3>Two Way Data Binding</h3>

<input [(ngModel)]="fname"/>
<div>{{ fname }}</div>
<button (click)="ShowFName(fname)">Click to see first name</button>
<br /><br />

<h3>Pipes</h3>
<div>{{ user.name | lowercase}}</div>
<div>{{ user.name | uppercase}}</div>
<div>{{ user.DOB | date}}</div>
<div>{{ user.stipend | currency: 'INR':'code':'4.0-1'}}</div>
<div>{{ user | json}}</div>
<code>{{ user | json}}</code>

<h4>Chaining Pipes</h4>
<div>{{ user.DOB | date | uppercase }}</div>



<router-outlet></router-outlet>
